@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    color: #fff;
    background-color: #000; 
}

a, a:hover, a:visited {
    text-decoration: none;
    color: unset;
}

header {
    height: 220px;
    background: linear-gradient(180deg, #375080 0%, rgba(18,18,18,.05) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-container img{
    width: 235px;
}

.logo-container h1 {
    margin-top: 15px;
    font-size: 24px;
    letter-spacing: 1.5px;
}
.logo-container p {
    font-size: 14px;
    font-weight: 100;
}

#vendas{
    padding: 40px 10px;
}
.container{
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}
.card {
    min-height: 200px;
    background-color: #283142;
    border-radius: 10px;
    padding: 32px 16px;
}

.card h2 {
    color: #676FFF;
    font-size: 24px;
    margin-bottom: 12px;
}
.input-container {
    max-width: 300px;
}
.card input {
    height: 46px;
    width: 100%;
    background-color: #1B2531;
    border: 1px solid #384459;
    border-radius: 6px;
    margin-bottom: 16px;
    color: #a6b2c0;
    padding: 0 20px;
    font-size: 1.128rem;
}

.tabela {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}
.tabela thead {
    height: 55px;
    font-size: 1rem;
    color: #e9e9e9;
    font-weight: 700;
    letter-spacing: 1.2px;
}
.tabela tbody {
    font-size: 0.88rem;
    font-weight: 100;
    color: #cfcfcf;

}

.tabela tbody tr {
    height: 74px;
    border-top: 1px solid #5f6e82;
    text-align: center;
    align-content: center;
    justify-content: center;
}

.tabela tbody tr:nth-child(odd) {
    background-color: #242C3B;
}
.tabela tbody tr:hover > td{
    background-color: rgba(255,255,255,0.2);
}

.btn {
    width: 45px;
    height: 45px;
    border: 1px solid #FF6B72;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,107,114,.1);
}

.btn:hover{
    cursor: pointer;
}

.btn img {
    width: 19px;
}

.btn-container {
    display: flex;
    justify-content: center;
}
.viewIn576px , .viewIn992px {
    display: none;
}

@media (min-width: 576px) {
    .viewIn576px{
        display: table-cell;
    }
    .card {
        padding: 35px;
    }
    .tabela tbody {
        font-size: 1.13rem;
    }
    .tabela tbody tr {
        height: 62px;
    }
}

@media (min-width: 992px) {
    .viewIn992px{
        display: table-cell;
    }
    .card {
        padding: 35px;
    }
}